<a class="list-group-item">
  <h4 class="list-group-item-heading">{{politic.name}}</h4>
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-warning" (click)="chooseOrientation('left')">Left</button>
    <button type="button" class="btn btn-success" (click)="chooseOrientation('middle')">Middle</button>
    <button type="button" class="btn btn-info" (click)="chooseOrientation('right')">Right</button>
    <button type="button" class="btn btn-default" (click)="chooseOrientation('unknown')">Unknown</button>
  </div>
</a>
