<ul class="nav nav-tabs">
  <li role="presentation" routerLinkActive="active">
    <a routerLink="all">All</a>
  </li>
  <li role="presentation" routerLinkActive="active">
    <a routerLink="left">Left</a>
  </li>
  <li role="presentation" routerLinkActive="active">
    <a routerLink="right">Right</a>
  </li>
  <li role="presentation" routerLinkActive="active">
    <a routerLink="middle">Middle</a>
  </li>
  <li role="presentation" routerLinkActive="active">
    <a routerLink="unknown">Unknown</a>
  </li>
</ul>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
